
## Exercise 1:

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

Create a spark data frame that contains your favorite programming languages.

In [1]:
import pyspark
from pyspark.sql.functions import col, expr
import pandas as pd
import numpy as np
from pydataset import data
np.random.seed(456)

- Create a dataframe with one column named `language`
> Hint: Start with a pandas dataframe. Maybe use a dictionary?

In [4]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/11 13:43:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/11 13:43:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/02/11 13:43:07 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [9]:
data = [['python'], ['julia'], ['SQL'], ['matlab'], ['C'], ['java'], ['sas'], ['cobal'], ['turbopascal'], ['R'], ['scala'], ['auc'], ['C++'], ['swift'], ['ruby'], ['perl'], ['fortran'], ['bash'], ['php'], ['go']]
df = pd.DataFrame(data, columns = ['language'])
df = spark.createDataFrame(df)

- View the schema of the dataframe

In [10]:
df.printSchema()

root
 |-- language: string (nullable = true)

- Output the shape of the dataframe

In [11]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  20  x  1

- Show the first 5 records in the dataframe

In [12]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|   julia|
|     SQL|
|  matlab|
|       C|
+--------+
only showing top 5 rows

## Exercise 2:

Load the `mpg` dataset as a spark dataframe.

In [13]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

a. Create 1 column of output that contains a message like the one below for each record:

    The 1999 audi a4 has a 4 cylinder engine.

> Hint: You will need to concatenate values that already exist in the data with string literals

In [14]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [15]:
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [17]:
from pyspark.sql.functions import lit

In [48]:
mpg.select(
    concat(
        lit('The '), 
        mpg.year, 
        lit(' '), 
        mpg.manufacturer, 
        lit(' '), 
        mpg.model, 
        lit(' has a '), 
        mpg.cyl, 
        lit(' cylinder engine.'))).show(truncate=False)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 2008 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 2008 audi a4 quattro has a 4 cylinder engine.                             |
|The 2008 audi a4 quattro has a 4 cylinder engine.                             |
|The 1999 audi a4 quattro has a 6 cylinder engine.                             |
|The 1999 audi a4 quattro has a 6 cylinder engine.                             |
|The 2008 audi a4 quattro has a 6 cylinder engine.                             |
|The 2008 audi a4 quattro has a 6 cylinder engine.                             |
|The 1999 audi a6 quattro has a 6 cylinder engine.                             |
|The 2008 audi a6 quattro has a 6 cylinder engine.                             |
|The 2008 audi a6 quattro has a 8 cylinder engine.                             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.                |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.                |
+------------------------------------------------------------------------------+
only showing top 20 rows

b. Transform the trans column so that it only contains either manual or auto.

> Hint: Consider spark string methods and `when().otherwise()` chaining

In [30]:
mpg.createOrReplaceTempView("mpg")

In [40]:
spark.sql(
    '''
    SELECT trans
    FROM mpg
    WHERE trans LIKE 'manual%' OR trans LIKE 'auto%'
    '''
).show(100)

+----------+
|     trans|
+----------+
|  auto(l5)|
|manual(m5)|
|manual(m6)|
|  auto(av)|
|  auto(l5)|
|manual(m5)|
|  auto(av)|
|manual(m5)|
|  auto(l5)|
|manual(m6)|
|  auto(s6)|
|  auto(l5)|
|manual(m5)|
|  auto(s6)|
|manual(m6)|
|  auto(l5)|
|  auto(s6)|
|  auto(s6)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|manual(m6)|
|  auto(l4)|
|manual(m6)|
|  auto(s6)|
|manual(m6)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(s6)|
|  auto(l3)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l6)|
|  auto(l6)|
|manual(m6)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|manual(m5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l4)|
|  auto(l5)|
|  auto(l4)|
|manual(m6)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|manual(m6)|
|manual(m6)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l6)|
|  auto(l5)|
|manual(m5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l6)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|manual(m5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l4)|
|manual(m5)|
|manual(m5)|
|  auto(l5)|
|manual(m6)|
|manual(m5)|
+----------+
only showing top 100 rows

In [45]:
spark.sql(
    '''
    SELECT left(trans,6)
    FROM mpg
    WHERE trans LIKE 'manual%'
    
    '''
).show(10)

+--------------+
|left(trans, 6)|
+--------------+
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
+--------------+
only showing top 10 rows

In [47]:
spark.sql(
    '''
    SELECT left(trans,4)
    FROM mpg
    WHERE trans LIKE 'auto%'
    '''
).show(10)

+--------------+
|left(trans, 4)|
+--------------+
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
+--------------+
only showing top 10 rows

In [50]:
from pyspark.sql.functions import when

In [55]:
mpg.select(
    'trans',
    when(
        mpg.trans.like('a%'), 'auto'
    ).otherwise('manual').alias('when method')
).show()

+----------+-----------+
|     trans|when method|
+----------+-----------+
|  auto(l5)|       auto|
|manual(m5)|     manual|
|manual(m6)|     manual|
|  auto(av)|       auto|
|  auto(l5)|       auto|
|manual(m5)|     manual|
|  auto(av)|       auto|
|manual(m5)|     manual|
|  auto(l5)|       auto|
|manual(m6)|     manual|
|  auto(s6)|       auto|
|  auto(l5)|       auto|
|manual(m5)|     manual|
|  auto(s6)|       auto|
|manual(m6)|     manual|
|  auto(l5)|       auto|
|  auto(s6)|       auto|
|  auto(s6)|       auto|
|  auto(l4)|       auto|
|  auto(l4)|       auto|
+----------+-----------+
only showing top 20 rows

## Exercise 3: 

Load the `tips` dataset as a spark dataframe.

In [57]:
import pydataset

In [58]:
tips = spark.createDataFrame(pydataset.data("tips"))
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

a. What percentage of observations are smokers?
> Hint: `.groupBy()` and `.withColumn()` are useful functions here

In [72]:
tips.rollup('smoker').count().withColumn('percent', col('count')/244*100).show()

+------+-----+------------------+
|smoker|count|           percent|
+------+-----+------------------+
|  null|  244|             100.0|
|    No|  151|61.885245901639344|
|   Yes|   93|38.114754098360656|
+------+-----+------------------+

b. Create a column that contains the tip percentage
> Hint: `.withColumn()` is useful here

In [66]:
tips.select(tips.total_bill, tips.tip).withColumn('tip_percent', col('tip') / col('total_bill') * 100).show()

+----------+----+------------------+
|total_bill| tip|       tip_percent|
+----------+----+------------------+
|     16.99|1.01|5.9446733372572105|
|     10.34|1.66|16.054158607350097|
|     21.01| 3.5|16.658733936220845|
|     23.68|3.31| 13.97804054054054|
|     24.59|3.61|14.680764538430255|
|     25.29|4.71| 18.62396204033215|
|      8.77| 2.0| 22.80501710376283|
|     26.88|3.12|11.607142857142858|
|     15.04|1.96|13.031914893617023|
|     14.78|3.23|21.853856562922868|
|     10.27|1.71| 16.65043816942551|
|     35.26| 5.0|14.180374361883155|
|     15.42|1.57|10.181582360570687|
|     18.43| 3.0|16.277807921866522|
|     14.83|3.02|20.364126770060686|
|     21.58|3.92|18.164967562557923|
|     10.33|1.67| 16.16650532429816|
|     16.29|3.71|22.774708410067525|
|     16.97| 3.5|20.624631703005306|
|     20.65|3.35|16.222760290556902|
+----------+----+------------------+
only showing top 20 rows

c. Calculate the average tip percentage for each combination of sex and smoker.
> Hint: Chain additional functions off the answer to part b

In [70]:
tips.select(tips.total_bill, tips.tip, tips.smoker, tips.sex).withColumn('tip_percent', col('tip') / col('total_bill')*100).groupby('sex').pivot('smoker').mean('tip_percent').show()

+------+-----------------+------------------+
|   sex|               No|               Yes|
+------+-----------------+------------------+
|Female|15.69209707691836| 18.21503526994103|
|  Male|16.06687151291298|15.277117520248513|
+------+-----------------+------------------+