
## Exercise 1:

Within your `codeup-data-science` directory, create a new repo named `spark-exercises`. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your `spark-exercises` repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named `spark101` for this exercise.

Create a spark data frame that contains your favorite programming languages.

In [2]:
import pyspark
from pyspark.sql.functions import col, expr
import pandas as pd
import numpy as np
from pydataset import data
np.random.seed(456)

- Create a dataframe with one column named `language`
> Hint: Start with a pandas dataframe. Maybe use a dictionary?

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/homebrew/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/16 11:04:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [['python'], ['julia'], ['SQL'], ['matlab'], ['C'], ['java'], ['sas'], ['cobal'], ['turbopascal'], ['R'], ['scala'], ['auc'], ['C++'], ['swift'], ['ruby'], ['perl'], ['fortran'], ['bash'], ['php'], ['go']]
df = pd.DataFrame(data, columns = ['language'])
df = spark.createDataFrame(df)

- View the schema of the dataframe

In [5]:
df.printSchema()

root
 |-- language: string (nullable = true)

- Output the shape of the dataframe

In [6]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  20  x  1

- Show the first 5 records in the dataframe

In [7]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|   julia|
|     SQL|
|  matlab|
|       C|
+--------+
only showing top 5 rows

## Exercise 2:

Load the `mpg` dataset as a spark dataframe.

In [8]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

a. Create 1 column of output that contains a message like the one below for each record:

    The 1999 audi a4 has a 4 cylinder engine.

> Hint: You will need to concatenate values that already exist in the data with string literals

In [9]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [10]:
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [11]:
from pyspark.sql.functions import lit

In [22]:
from pyspark.sql.functions import round

In [12]:
mpg.select(
    concat(
        lit('The '), 
        mpg.year, 
        lit(' '), 
        mpg.manufacturer, 
        lit(' '), 
        mpg.model, 
        lit(' has a '), 
        mpg.cyl, 
        lit(' cylinder engine.'))).show(truncate=False)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 2008 audi a4 has a 4 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 has a 6 cylinder engine.                                     |
|The 2008 audi a4 has a 6 cylinder engine.                                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 1999 audi a4 quattro has a 4 cylinder engine.                             |
|The 2008 audi a4 quattro has a 4 cylinder engine.                             |
|The 2008 audi a4 quattro has a 4 cylinder engine.                             |
|The 1999 audi a4 quattro has a 6 cylinder engine.                             |
|The 1999 audi a4 quattro has a 6 cylinder engine.                             |
|The 2008 audi a4 quattro has a 6 cylinder engine.                             |
|The 2008 audi a4 quattro has a 6 cylinder engine.                             |
|The 1999 audi a6 quattro has a 6 cylinder engine.                             |
|The 2008 audi a6 quattro has a 6 cylinder engine.                             |
|The 2008 audi a6 quattro has a 8 cylinder engine.                             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.                |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.                |
+------------------------------------------------------------------------------+
only showing top 20 rows

b. Transform the trans column so that it only contains either manual or auto.

> Hint: Consider spark string methods and `when().otherwise()` chaining

In [13]:
mpg.createOrReplaceTempView("mpg")

In [14]:
spark.sql(
    '''
    SELECT trans
    FROM mpg
    WHERE trans LIKE 'manual%' OR trans LIKE 'auto%'
    '''
).show(100)

+----------+
|     trans|
+----------+
|  auto(l5)|
|manual(m5)|
|manual(m6)|
|  auto(av)|
|  auto(l5)|
|manual(m5)|
|  auto(av)|
|manual(m5)|
|  auto(l5)|
|manual(m6)|
|  auto(s6)|
|  auto(l5)|
|manual(m5)|
|  auto(s6)|
|manual(m6)|
|  auto(l5)|
|  auto(s6)|
|  auto(s6)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|manual(m6)|
|  auto(l4)|
|manual(m6)|
|  auto(s6)|
|manual(m6)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(s6)|
|  auto(l3)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l6)|
|  auto(l6)|
|manual(m6)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|manual(m5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l4)|
|  auto(l5)|
|  auto(l4)|
|manual(m6)|
|  auto(l5)|
|  auto(l5)|
|  auto(l5)|
|manual(m6)|
|manual(m6)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l6)|
|  auto(l5)|
|manual(m5)|
|  auto(l5)|
|  auto(l5)|
|  auto(l6)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|manual(m5)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|  auto(l4)|
|manual(m5)|
|  auto(l4)|
|manual(m5)|
|  auto(l5)|
|  auto(l4)|
|manual(m5)|
|manual(m5)|
|  auto(l5)|
|manual(m6)|
|manual(m5)|
+----------+
only showing top 100 rows

In [15]:
spark.sql(
    '''
    SELECT left(trans,6)
    FROM mpg
    WHERE trans LIKE 'manual%'
    
    '''
).show(10)

+--------------+
|left(trans, 6)|
+--------------+
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
|        manual|
+--------------+
only showing top 10 rows

In [16]:
spark.sql(
    '''
    SELECT left(trans,4)
    FROM mpg
    WHERE trans LIKE 'auto%'
    '''
).show(10)

+--------------+
|left(trans, 4)|
+--------------+
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
|          auto|
+--------------+
only showing top 10 rows

In [17]:
from pyspark.sql.functions import when

In [18]:
mpg.select(
    'trans',
    when(
        mpg.trans.like('a%'), 'auto'
    ).otherwise('manual').alias('when method')
).show()

+----------+-----------+
|     trans|when method|
+----------+-----------+
|  auto(l5)|       auto|
|manual(m5)|     manual|
|manual(m6)|     manual|
|  auto(av)|       auto|
|  auto(l5)|       auto|
|manual(m5)|     manual|
|  auto(av)|       auto|
|manual(m5)|     manual|
|  auto(l5)|       auto|
|manual(m6)|     manual|
|  auto(s6)|       auto|
|  auto(l5)|       auto|
|manual(m5)|     manual|
|  auto(s6)|       auto|
|manual(m6)|     manual|
|  auto(l5)|       auto|
|  auto(s6)|       auto|
|  auto(s6)|       auto|
|  auto(l4)|       auto|
|  auto(l4)|       auto|
+----------+-----------+
only showing top 20 rows

## Exercise 3: 

Load the `tips` dataset as a spark dataframe.

In [19]:
import pydataset

In [20]:
tips = spark.createDataFrame(pydataset.data("tips"))
tips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

a. What percentage of observations are smokers?
> Hint: `.groupBy()` and `.withColumn()` are useful functions here

In [23]:
tips.rollup('smoker').count().withColumn('percent', round(col('count')/244*100, 2)).show()

+------+-----+-------+
|smoker|count|percent|
+------+-----+-------+
|  null|  244|  100.0|
|    No|  151|  61.89|
|   Yes|   93|  38.11|
+------+-----+-------+

b. Create a column that contains the tip percentage
> Hint: `.withColumn()` is useful here

In [24]:
tips.select(tips.total_bill, tips.tip).withColumn('tip_percent', round(col('tip') / col('total_bill') * 100, 2)).show()

+----------+----+-----------+
|total_bill| tip|tip_percent|
+----------+----+-----------+
|     16.99|1.01|       5.94|
|     10.34|1.66|      16.05|
|     21.01| 3.5|      16.66|
|     23.68|3.31|      13.98|
|     24.59|3.61|      14.68|
|     25.29|4.71|      18.62|
|      8.77| 2.0|      22.81|
|     26.88|3.12|      11.61|
|     15.04|1.96|      13.03|
|     14.78|3.23|      21.85|
|     10.27|1.71|      16.65|
|     35.26| 5.0|      14.18|
|     15.42|1.57|      10.18|
|     18.43| 3.0|      16.28|
|     14.83|3.02|      20.36|
|     21.58|3.92|      18.16|
|     10.33|1.67|      16.17|
|     16.29|3.71|      22.77|
|     16.97| 3.5|      20.62|
|     20.65|3.35|      16.22|
+----------+----+-----------+
only showing top 20 rows

c. Calculate the average tip percentage for each combination of sex and smoker.
> Hint: Chain additional functions off the answer to part b

In [30]:
tips.select(tips.total_bill, tips.tip, tips.smoker, tips.sex).withColumn('tip_percent', col('tip') / col('total_bill')*100).groupby('sex').pivot('smoker').mean('tip_percent').show()

+------+-----------------+------------------+
|   sex|               No|               Yes|
+------+-----------------+------------------+
|Female|15.69209707691836| 18.21503526994103|
|  Male|16.06687151291298|15.277117520248513|
+------+-----------------+------------------+

In [33]:
tips.select(tips.total_bill, tips.tip, tips.smoker, tips.sex).withColumn('tip_percent', round(col('tip') / col('total_bill')*100, 2)).groupby('sex').pivot('smoker').mean('tip_percent').show()

+------+-----------------+------------------+
|   sex|               No|               Yes|
+------+-----------------+------------------+
|Female|15.69111111111111|18.214545454545455|
|  Male|16.06659793814433|15.276666666666667|
+------+-----------------+------------------+

In [ ]:
tips.select(tips.total_bill, tips.tip, tips.smoker, tips.sex).withColumn('tip_percent', col('tip') / col('total_bill')*100).groupby('sex').pivot('smoker').mean('tip_percent').show()

+------+-----------------+------------------+
|   sex|               No|               Yes|
+------+-----------------+------------------+
|Female|15.69209707691836| 18.21503526994103|
|  Male|16.06687151291298|15.277117520248513|
+------+-----------------+------------------+

22/02/11 22:51:27 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 980733 ms exceeds timeout 120000 ms
22/02/11 22:51:27 WARN SparkContext: Killing executors is not supported by current scheduler.

## Exercise 4:

Use the seattle weather dataset referenced in the lesson to answer the questions below.

In [43]:
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)

- Convert the temperatures to fahrenheit.

In [44]:
weather = weather.withColumn(
    "temp_max", round((col("temp_max") * 9 / 5 + 32), 2)
).withColumn("temp_min", round((col("temp_min") * 9 / 5 + 32), 2))

- Which month has the most rain, on average?

In [49]:
from pyspark.sql.functions import month, year, quarter

In [45]:
weather.show()

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|   55.04|    41.0| 4.7|drizzle|
|2012-01-02|         10.9|   51.08|   37.04| 4.5|   rain|
|2012-01-03|          0.8|   53.06|   44.96| 2.3|   rain|
|2012-01-04|         20.3|   53.96|   42.08| 4.7|   rain|
|2012-01-05|          1.3|   48.02|   37.04| 6.1|   rain|
|2012-01-06|          2.5|   39.92|   35.96| 2.2|   rain|
|2012-01-07|          0.0|   44.96|   37.04| 2.3|   rain|
|2012-01-08|          0.0|    50.0|   37.04| 2.0|    sun|
|2012-01-09|          4.3|   48.92|    41.0| 3.4|   rain|
|2012-01-10|          1.0|   42.98|   33.08| 3.4|   rain|
|2012-01-11|          0.0|   42.98|   30.02| 5.1|    sun|
|2012-01-12|          0.0|   42.98|   28.94| 1.9|    sun|
|2012-01-13|          0.0|    41.0|   26.96| 1.3|    sun|
|2012-01-14|          4.1|   39.92|   33.08| 5.3|   snow|
|2012-01-15|          5.3|   33.98|   26.06| 3.2|   snow|
|2012-01-16|          2.5|   35.06|   26.96| 5.0|   snow|
|2012-01-17|          8.1|   37.94|    32.0| 5.6|   snow|
|2012-01-18|         19.8|    32.0|   26.96| 5.0|   snow|
|2012-01-19|         15.2|   30.02|   26.96| 1.6|   snow|
|2012-01-20|         13.5|   44.96|   30.02| 2.3|   snow|
+----------+-------------+--------+--------+----+-------+
only showing top 20 rows

In [50]:
(
    weather.withColumn("month", month("date"))
    .groupBy("month")
    .agg(sum("precipitation").alias("total_rainfall"))
    .sort("month")
    .show()
)

+-----+------------------+
|month|    total_rainfall|
+-----+------------------+
|    1|465.99999999999994|
|    2|             422.0|
|    3|             606.2|
|    4|             375.4|
|    5|             207.5|
|    6|             132.9|
|    7|              48.2|
|    8|             163.7|
|    9|235.49999999999997|
|   10|             503.4|
|   11|             642.5|
|   12| 622.7000000000002|
+-----+------------------+

In [51]:
weather.withColumn("month", month("date")).withColumn("year", year("date")).groupBy("month", "year").agg(sum("precipitation").alias("total_monthly_precipitation")).show()

+-----+----+---------------------------+
|month|year|total_monthly_precipitation|
+-----+----+---------------------------+
|    6|2012|                       75.1|
|    2|2012|                       92.3|
|    5|2012|         52.199999999999996|
|    1|2012|         173.29999999999998|
|    3|2012|                      183.0|
|    4|2012|          68.09999999999998|
|    8|2012|                        0.0|
|   12|2012|                      174.0|
|   10|2012|         170.29999999999998|
|    9|2012|         0.8999999999999999|
|   11|2012|                      210.5|
|    7|2012|                       26.3|
|    6|2013|                       33.1|
|    1|2013|         105.69999999999997|
|    5|2013|          60.49999999999999|
|    2|2013|         40.300000000000004|
|    3|2013|                       69.7|
|    4|2013|         149.60000000000002|
|   12|2013|          42.39999999999999|
|    8|2013|                       34.4|
+-----+----+---------------------------+
only showing top 20 rows

In [52]:
weather.withColumn("month", month("date")).withColumn("year", year("date")).groupBy("month", "year").agg(sum("precipitation").alias("total_monthly_precipitation")).show()

+-----+----+---------------------------+
|month|year|total_monthly_precipitation|
+-----+----+---------------------------+
|    6|2012|                       75.1|
|    2|2012|                       92.3|
|    5|2012|         52.199999999999996|
|    1|2012|         173.29999999999998|
|    3|2012|                      183.0|
|    4|2012|          68.09999999999998|
|    8|2012|                        0.0|
|   12|2012|                      174.0|
|   10|2012|         170.29999999999998|
|    9|2012|         0.8999999999999999|
|   11|2012|                      210.5|
|    7|2012|                       26.3|
|    6|2013|                       33.1|
|    1|2013|         105.69999999999997|
|    5|2013|          60.49999999999999|
|    2|2013|         40.300000000000004|
|    3|2013|                       69.7|
|    4|2013|         149.60000000000002|
|   12|2013|          42.39999999999999|
|    8|2013|                       34.4|
+-----+----+---------------------------+
only showing top 20 rows

In [54]:
row = (
    weather.withColumn("month", month("date"))
    .withColumn("year", year("date"))
    .groupBy("month", "year")
    .agg(sum("precipitation").alias("total_monthly_precipitation"))
    .groupBy("month")
    .agg(mean("total_monthly_precipitation").alias("avg_monthly_rain"))
    .sort(col("avg_monthly_rain").desc())
    .first()
)
row

Row(month=11, avg_monthly_rain=160.625)

In [55]:
row.avg_monthly_rain

160.625

November

- Which year was the windiest?

In [57]:
(
    weather.withColumn("year", year("date"))
    .groupBy("year")
    .agg(sum("wind").alias("total_winds"))
    .sort(col("total_winds").desc())
    .head(5)
)

[Row(year=2012, total_winds=1244.7),
 Row(year=2014, total_winds=1236.5000000000007),
 Row(year=2015, total_winds=1153.3000000000002),
 Row(year=2013, total_winds=1100.8000000000006)]

- What is the most frequent type of weather in January?

In [58]:
(
    weather.withColumn("month", month("date"))
    .filter(col("month") == 1)
    .groupBy("weather")
    .count()
    .sort(col("count").desc())
    .show()
)

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
|   rain|   35|
|    sun|   33|
|drizzle|   10|
|   snow|    8|
+-------+-----+

- What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [59]:
(
    weather.filter(month("date") == 7)
    .filter(year("date") > 2012)
    .filter(year("date") < 2015)
    .filter(col("weather") == lit("sun"))
    .agg(
        avg("temp_max").alias("average_high_temp"),
        avg("temp_min").alias("average_low_temp"),
    )
    .show()
)

+-----------------+-----------------+
|average_high_temp| average_low_temp|
+-----------------+-----------------+
|80.29192307692308|57.52884615384615|
+-----------------+-----------------+

- What percentage of days were rainy in q3 of 2015?

In [60]:
rainy_q3_2015 = (
    weather.filter(year("date") == 2015)
    .filter(quarter("date") == 3)
    .select(when(col("weather") == "rain", 1).otherwise(0).alias("rain"))
    .agg(mean("rain"))
)
rainy_q3_2015.show()

+--------------------+
|           avg(rain)|
+--------------------+
|0.021739130434782608|
+--------------------+

- For each year, find what percentage of days it rained (had non-zero precipitation).

In [61]:
(
    weather.withColumn("year", year("date"))
    .select(when(col("precipitation") > 0, 1).otherwise(0).alias("rain"), "year")
    .groupby("year")
    .agg(mean("rain"))
    .show()
)

+----+-------------------+
|year|          avg(rain)|
+----+-------------------+
|2012|0.48360655737704916|
|2013|0.41643835616438357|
|2014|  0.410958904109589|
|2015|0.39452054794520547|
+----+-------------------+